@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

/* Set Css */
* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #000000;
    --text-hover-color: #0000005b;
    --background-color: #f3f3f3;
    --warning-color: #ff3b25;

}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(22, 24, 35, 0.089);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(22, 24, 35, 0.123);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(22, 24, 35, 0.192);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.container--xxl {
    max-width: 1200px;
    margin: 0 auto;
}


/* Set Css end*/


/** -----NAV BEGIN----- */

.fixedTop {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

header .nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f3f3f3;
}

header #dropdownBtn {
    display: none;
}

header .nav ul {
    list-style: none;
}


header .nav .first--page {
    display: inline-block;
    padding: 8px 20px 0 20px;

}

header .nav .first--page a span {
    line-height: 44px;
    font-size: 30px;
    font-style: italic;
    text-transform: uppercase;
}

header .nav .nav__links {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    float: right;
    padding-right: 10px;
}

header .nav .nav__links .nav-items {
    padding: 0 10px;
    text-align: center;
}

header .nav .nav__links .nav-items a {
    font-size: 18px;
    line-height: 46px;
    text-align: center;
}

header .nav .nav__links .nav-items.active a,
header .nav .nav__links .nav-items a:hover {
    color: var(--text-hover-color);
    transition-duration: 0.2s;
}

header .nav .nav__links .stick {
    width: 1px;
    background-color: var(--text-color);
    height: auto;
    margin: 10px 0;
}

/*** -----NAV END----- */

/*** -----HOME BEGIN----- */
#home,
#resume,
#projects,
#contact {
    padding-top: 64px;
}

.home__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    max-width: 980px;
    margin: 0 auto;
    height: 100%;
}

.home__container .home--image {
    width: 50%;
    height: 560px;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.home__container .home--image .images {
    height: 100%;
}



.home__container .home--image ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 10px;
    list-style-type: none;
    position: absolute;
    bottom: 0;

}

.home__container .home--image ul .slider-menu {
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--text-hover-color);
    border-radius: 50%;
    transition-duration: 0.3s;
    transition: background-color 0.6s ease;
}

.home__container .home--image ul .slider-menu.active,
.home__container .home--image ul .slider-menu:hover {
    border-color: #000000;
    transition-duration: 0.3s;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.home__container .home--image .image-slider {
    width: 460px;
    height: 460px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #d4d0d0;
}

.home__container .home--image .image-slider span {
    font-size: 80px;
    font-weight: 800;
}

.home__container .home--image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}

.home__container .home--image .image-slider:hover {
    box-shadow: 0 0 3px 2px var(--text-hover-color);
    transition-duration: 0.3s;
}

.home__container .home--content {
    max-width: 480px;
    padding: 30px 15px;
}

.home__container .home--content h1 {
    font-size: 100px;
    font-weight: bolder;
    padding: 0 30px;
}

.home__container .home--content h4 {
    font-size: 26px;
    padding-left: 30px;
}

.home__container .home--content p {
    font-size: 18px;
    font-weight: lighter;
    padding: 0px 30px;
}

.home__container .home--content .box-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin: 30px auto;
}

.home__container .home--content .box-menu .menu-items {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 28px;
    font-weight: bold;
    border: 1px solid black;
}

.home__container .home--content .box-menu .menu-items:first-child {
    background-color: #eea302;
    transition-duration: 0.3s;
}

.home__container .home--content .box-menu .menu-items:nth-child(2) {
    background-color: #ff3b25;
    transition-duration: 0.3s;
}

.home__container .home--content .box-menu .menu-items:last-child {
    background-color: #80d8da;
    transition-duration: 0.3s;
}

.home__container .home--content .box-menu .menu-items:hover {
    background-color: var(--background-color);
    transition-duration: 0.3s;
}

/**---- END HOME --------- */

/**---- BEGIN RESUME ----*/
.resume__container .resume {
    display: grid;
    grid-template-columns: 40% auto;
    max-width: 1200px;
    margin: auto;
}

.resume__container hr {
    margin: 30px 0;
}

.title,
.resume__container .resume .history .timeline .time {
    padding-left: 8px;
}

.resume__container .resume .history {
    display: grid;
    align-content: space-between;
    gap: 20px;
}

.resume__container .resume .history .timeline {
    display: grid;
    grid-template-columns: 22% auto;
    margin-bottom: 10px;
}

.resume__container .resume .timeline .content p {
    padding: 5px 30px 5px 0;
    font-size: 18px;
}

.resume__container .resume .title h3 {
    font-size: 30px;
    margin-bottom: 25px;
}

.resume__container .resume .timeline .time h4 {
    font-size: 18px;
}

.resume .history .timeline .content h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

.resume .history .timeline ul {
    line-height: 1.8em;
    font-size: 16px;
}

/** ---- END RESUME ---- */

/** ---- BEGIN PROJECT ---- */
.projects__container {
    max-width: 1200px;
    margin: 0 auto 30px auto;
    display: grid;
    justify-content: space-evenly;
    gap: 30px;
}

.projects h2 {
    font-size: 30px;
    padding-left: 8px;
}

.projects__container .project .project-wall {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    gap: 20px;
}

.projects__container .project .project-wall .project-content {
    padding: 0 10px;
}

.projects__container .project .project-wall .project-content p {
    padding: 16px 0px;
}

.projects__container .project .project-wall .project-wallpaper img {
    width: 400px;
}

/** ---- END PROJECT ---- */

/** ---- BEGIN FORM ---- */

.contact__container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
}

.contact__container .contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.contact__container .contact h2 {
    font-size: 28px;
}

.contact__container .form__template .form-group-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.contact__container .form__template .special-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eea302;
    border-radius: 100%;
    width: 140px;
    height: 140px;
    margin: auto;
    font-size: 28px;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
}

.contact__container .form__template .special-button:hover {
    background-color: var(--background-color);
    transition-duration: 0.2s;
}

.contact__container .form__template .messeger p {
    padding: 0 0 5px 10px;
}

.contact__container .form__template .text-area {
    display: grid;
    grid-template-columns: 75% auto;
    padding: 0px 10px 10px 10px;
}

.contact__container .form__template .text-area textarea {
    width: 100%;
    height: 140px;
    margin: auto;
    border: 1px solid var(--text-color);
    background-color: var(--background-color);
    resize: none;
    padding: 5px;
    font-size: 16px;
}

.contact__container .form-group .form-message {
    display: block;
    color: var(--warning-color);
    padding-top: 5px;
    background-color: var(--background-color);
}

.contact__container .form__template .form-group {
    width: 380px;
    padding: 0px 10px 10px 10px;
}

.contact__container .form__template .form-group label {
    display: block;
    padding-bottom: 5px;
}

.contact__container .form__template .form-group input {
    display: block;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    font-size: 16px;
    line-height: 30px;
    padding-left: 5px;
    width: calc(100% - 15px);
}

.contact__container .form__template .form-group.invalidate input {
    border: 1px solid var(--warning-color);
}


.contact__container .form__template textarea:hover,
.contact__container .form__template .form-group input:hover {
    border: 1px solid var(--text-hover-color);
    transition-duration: 0.2s;
}

.contact__container .form__template textarea:focus-visible,
.contact__container .form__template .form-group input:focus-visible {
    outline-offset: none;
    outline: none;
    border: 1px solid var(--text-color);
    transition-duration: 0.2s;
}

/** END FORM */

/** Begin Footer */
.footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: center;
    justify-content: space-between;
}

.footer>div {
    margin: 20px 0 35px 0;
}

.footer .link--icon {
    display: inline-flex;
    gap: 5px;
    justify-content: space-around;
}

.footer .link--icon>a {
    width: 30px;
    height: 30px;
    font-size: 22px;
    opacity: 0.8;
}

.footer .link--icon>a:hover {
    transform: rotate(25deg);
    opacity: 0.6;
    transition-duration: 0.3s;
}

/** END Footer */


/** Flat Menu */

.flatMenu .flat-menu-items:last-child {
    opacity: 0.4;
    position: fixed;
    right: 40px;
    bottom: 40px;
    cursor: pointer;
    transition-duration: 0.6s;
}

.flatMenu.show {
    opacity: 1;
    transition-duration: 0.6s;
}

.flatMenu.show .flat-menu-items {
    opacity: 1;
    font-size: 14px;
}

.flatMenu .flat-menu-items img {
    width: 30px;
    height: 30px;
}

.flatMenu .flat-menu-items span {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 40px;
    font-size: 0px;
    font-style: italic;
    color: var(--text-color);
    opacity: 0;
}

.flatMenu.show .flat-menu-items:hover span {
    font-size: 16px;
    opacity: 0.8;
    transition-duration: 0.3s;
}

.flatMenu .flat-menu-items:not(.flat-menu-items:last-child) {
    display: block;
    border: solid 1px var(--text-color);
    border-radius: 50%;
    width: 29px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    position: fixed;
    right: 40px;
    bottom: 40px;
    opacity: 0;
    transition: bottom .4s, opacity .4s;
}

.flatMenu .flat-menu-items:not(.flat-menu-items:last-child) {
    background-color: var(--background-color);
}


.flatMenu.show .flat-menu-items:nth-child(1) {
    background-color: #eea302;
    bottom: 150px;
    opacity: 1;
    transition: bottom .4s, opacity .4s;
}

.flatMenu.show .flat-menu-items:nth-child(2) {
    background-color: #ff3b25;
    bottom: 115px;
    opacity: 1;
    transition: bottom .2s, opacity .2s;
}

.flatMenu.show .flat-menu-items:nth-child(3) {
    background-color: #80d8da;
    bottom: 80px;
    opacity: 1;
    transition: bottom .1s, opacity .1s;
}



/** End Flat menu */


/**--------- RESPONSOVE ----------*/

/*? Tablet */
@media only screen and (min-width: 740px) and (max-width: 1024px) {
    body {
        min-width: 768px;
        max-width: 1024px;
    }

    /** --- Home--- **/
    .home__container {
        flex-direction: column-reverse;
        padding: 0;
        margin-bottom: 30px;
    }

    .home__container .home--content {
        max-width: 100%;
    }

    .home__container .home--content .box-menu {
        justify-content: space-evenly;
    }

    .home__container .home--content .box-menu .menu-items {
        width: 120px;
        height: 120px;
        font-size: 20px;
    }

    /** --- Resume --- **/
    .resume__container .resume {
        grid-template-columns: auto;
    }

    /** --- Projects --- **/
    .projects__container .project .project-wall .project-wallpaper img {
        width: 340px;
        padding-right: 10px;
    }

    /** --- Contact --- **/
    .contact__container {
        grid-template-columns: auto;
    }

    .contact__container .form__template .form-group-container .form-group {
        width: 100%;
    }

    .contact__container .form__template .form-group-container .form-group input {
        width: calc(100% - 32px);
        /* - (padding + borrder) + padding*/
    }

    .contact__container .form__template .form-group-container .form-group .contact__container .form__template .messeger .text-area {
        grid-template-columns: auto;
    }

    .contact__container .form__template .text-area {
        grid-template-columns: 70% auto;
        padding: 0 10px;
    }

    .contact__container .form__template .text-area textarea {
        width: calc(100% - 12px);
        /* - (padding + borrder) */
    }

    .contact__container .form__template .special-button {
        width: 100px;
        height: 100px;
        font-size: 20px;
    }

    .flatMenu div:not(div:last-child) {
        display: none;
    }

}

/*? Mobile */
@media only screen and (max-width: 739px) {

    /** --- Nav--- **/
    header .nav {
        display: block;
        width: 100%;
        padding: 0;
    }

    header .nav .first--page {
        display: block;
        position: relative;
    }

    header .nav #dropdownBtn {
        display: block;
        width: 24px;
        height: 24px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        position: absolute;
        right: 30px;
        top: 10px;
        /* padding: 0; */
    }

    header .nav #dropdownBtn .dropdownBtn {
        width: 100%;
    }

    header .nav #dropdownBtn .dropdownBtn span {
        border-top: 2px solid black;
        border-radius: 1.3rem;
        width: 100%;
        left: 5%;
        position: absolute;
        transition-duration: 0.25s;
    }

    header .nav #dropdownBtn .dropdownBtn span:first-child {
        bottom: 60%;
    }

    header .nav #dropdownBtn .dropdownBtn span:nth-child(2) {
        bottom: 40%;
    }

    header .nav #dropdownBtn.active .dropdownBtn span {
        bottom: 50%;
        transition-duration: 0.3s;
    }

    header .nav #dropdownBtn.active .dropdownBtn span:first-child {
        transform: rotate(45deg);
    }

    header .nav #dropdownBtn.active .dropdownBtn span:nth-child(2) {
        transform: rotate(-45deg);
    }

    header .nav .nav__links .stick {
        display: none;
    }

    header .nav .nav__links {
        display: none;
    }

    header .nav .nav__links.mobileNav {
        display: block;
        animation: navlinkAnimation 0.4s forwards;
        transition-duration: 0.3s;
    }

    @keyframes navlinkAnimation {
        from {
            width: 0%;
            height: 0%;
            opacity: 0;
        }

        to {
            width: 100%;
            height: 100%;
            opacity: 1;
        }
    }

    header .nav .nav__links.mobileNav .nav-items a::after {
        display: block;
        content: "";
        border-top: solid 2px var(--text-color);
        width: 0;
        margin: auto;
        transition: width ease 0.4s;
    }

    header .nav .nav__links.mobileNav .nav-items.active a::after,
    header .nav .nav__links.mobileNav .nav-items:hover a::after {
        width: 10%;
        transition: width ease 0.4s;
    }

    /** --- Home--- **/
    .home__container {
        flex-direction: column-reverse;
        justify-items: center;
        padding: 0;
        margin-bottom: 30px;
    }

    .home__container .home--content {
        padding: 10px 0px;
    }

    .home__container .home--content h1 {
        font-size: 40px;
    }

    .home__container .home--content .box-menu {
        justify-content: center;
    }

    .home__container .home--content .box-menu .menu-items {
        width: 100px;
        height: 100px;
        font-size: 20px;
    }

    .home__container .home--image {
        height: 400px;
    }

    .home__container .home--image .images .image-slider {
        width: 320px;
        height: 320px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .home__container .home--image .images .image-slider span {
        font-size: 60px;
    }

    /** --- Resume --- **/
    .resume__container .resume {
        grid-template-columns: auto;
    }

    .resume__container .resume .title h3 {
        text-decoration: underline;
    }

    /** --- Projects --- **/

    .projects__container .project .project-wall {
        grid-template-columns: 100%;
        justify-items: center;
    }

    .projects__container .project .project-wall .project-wallpaper {
        margin: 0 10px;
    }

    .projects__container .project .project-wall .project-wallpaper img {
        width: 100%;
    }



    /** --- Contact --- **/
    .contact__container {
        grid-template-columns: auto;
    }

    .contact__container .form__template .form-group-container {
        grid-template-columns: auto;
    }

    .contact__container .form__template .form-group-container .form-group,
    .contact__container .form__template .form-group-container .form-group input {
        width: calc(100% - 15px);
    }

    .contact__container .form__template .text-area {
        grid-template-columns: 100%;
        gap: 10px;
    }

    .contact__container .form__template .text-area textarea {
        width: calc(100% - 12px);
        height: 100px;
    }

    .contact__container .form__template .special-button {
        width: 100px;
        height: 100px;
        font-size: 20px;
    }

    /** --- Footer --- **/
    .footer {
        display: block;
    }

    .footer>div,
    .footer>div p {
        margin: 5px 0;
        text-align: center;
    }

    /** --- Flatmenu--- */
    .flatMenu .flat-menu-items {
        right: 30px;
        bottom: 40px;
    }

    .flatMenu div:not(div:last-child) {
        display: none;
    }

    .flatMenu .flat-menu-items span {
        display: none;
    }
}